html {
    box-sizing: border-box; 
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;
}

.header {
    padding: 0 50px;
    flex: 1;
    display: flex;
    justify-content: center;
}

ul {
    width: 800px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px;
    display: flex;
    flex: 1;
    gap: 18px;
}

.header .main-text {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.header a,
.hero-text.secondary {
    font-size: 18px;
    color: #E5E7Eb;
    font-weight: 100;
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 4px;
    background-color: #3882F6;
    color: #E5E7Eb;
    padding: 5px 12px;
    width: 100px;
}

.hero {
    display: flex;
    flex: auto;
    padding: 75px 50px;
    margin: auto;
}

.hero-container {
    display: flex;
    width: 800px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 10px;
    justify-content: space-between;
}

.hero img {
    flex: auto;
    max-width: 400px;
    max-height: auto;
    align-self: center;
    border-radius: 5px;
}

.information {
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 0px 00px 50px;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
}

.information .card {
    font-size: 14px;
    font-weight: 100;
    width: 180px;
}

.cards-container {
    display: flex;
    padding: 0 50px;
    justify-content: center;
    gap: 24px;
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 2px solid #3882F6
}

.body-quote {
    background-color: #E5E7Eb;
    color: #1F2937;
    padding: 75px 0px;
    flex: 1;
}

.quote-container {
    width: 600px;
    padding: 0px;
    margin: auto;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quote-citation {
    font-weight: bold;
    text-align: right;
}

.cta {
    background-color: #F9FAF8;
    color: #E5E7Eb;
    padding: 75px 200px;
    display: flex;
    justify-content: center;
}

.cta-container {
    background-color: #3882F6;
    border-radius: 5px;
    min-width: 500px;
    max-width: 800px;
    padding: 30px 80px;
    flex: auto;
    display: flex;
    justify-content: space-between;
}

.cta-text-main {
    font-weight: bold;
}

.cta-text-secondary {
    font-size: 0.8rem;
}

.cta button {
    border: 2px solid #E5E7Eb;
}

.footer {
    height: 75px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
