html {
    box-sizing: border-box; 
}

* {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;
}

.header {
    padding: 0 18px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.header ul {
    list-style-type: none;
    align-items: center;
    padding: 0;
    display: flex;
    flex: 1;
    gap: 18px;
}

.header .main-text {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.header a,
.hero-text.secondary {
    font-size: 18px;
    color: #E5E7Eb;
    font-weight: 100;
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 4px;
    background-color: #3882F6;
    color: #E5E7Eb;
    padding: 5px 12px;
    width: 100px;
    /* font-size: 14px; */
}

.container {
    display: flex;
    flex: 1;
    max-width: 800px;
}

.hero {
    display: flex;
    flex: 1;
    padding: 75px;
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero .hero-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

img {
    flex: auto;
    max-width: 400px;
    max-height: auto;
    align-self: center;
}

.body-middle {
    display: flex;
    justify-content: center;
}